<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">


    <p><a href="http://www.flatstack.com/">Flat Stack</a> Kefir Team </p>
    <p><a href="https://github.com/RuslanGilyazev/blog_app">GitHub</a></p>
    <p>2014</p>
  </div>
</footer>